@font-face {
  font-family: "iconfont"; /* Project id 2653911 */
  src: url('iconfont.woff2?t=1668227386995') format('woff2'),
       url('iconfont.woff?t=1668227386995') format('woff'),
       url('iconfont.ttf?t=1668227386995') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshenpi:before {
  content: "\e636";
}

.icontongzhi:before {
  content: "\e69c";
}

.iconrili:before {
  content: "\e635";
}

.icontongjifenxi-changguitongji:before {
  content: "\e634";
}

.iconziti:before {
  content: "\e629";
}

.iconquxiantu:before {
  content: "\e62a";
}

.iconditu:before {
  content: "\e630";
}

.iconzhuan:before {
  content: "\e628";
}

.iconyuechi:before {
  content: "\eae6";
}

.iconhuiyi:before {
  content: "\e65f";
}

.iconrenyuan:before {
  content: "\e645";
}

.iconrenyuan1:before {
  content: "\e647";
}

.iconrenyuan2:before {
  content: "\e64f";
}

.iconrenyuan3:before {
  content: "\e650";
}

.icondangjian_zuzhihuodong:before {
  content: "\e684";
}

.iconboshimao:before {
  content: "\e61d";
}

.iconxueli:before {
  content: "\e61e";
}

.iconxuexi:before {
  content: "\e63c";
}

.iconzuzhiqunzu:before {
  content: "\ebd8";
}

.iconjinhangzhong:before {
  content: "\e622";
}

.iconzhuanye:before {
  content: "\e625";
}

.iconnan:before {
  content: "\e8b3";
}

.iconnv:before {
  content: "\e8b4";
}

.iconlingdao:before {
  content: "\e65c";
}

.iconliudong:before {
  content: "\e627";
}

.iconjiji:before {
  content: "\ee3d";
}

.iconhaoyou:before {
  content: "\e609";
}

.icondefaultphoto:before {
  content: "\e67a";
}

.icona-tongji-07:before {
  content: "\e976";
}

.iconrenwuduihua:before {
  content: "\e753";
}

.iconzhong:before {
  content: "\e655";
}

.iconzhongzhi:before {
  content: "\e667";
}

.icona-Addpeople:before {
  content: "\e668";
}

.iconrenwu:before {
  content: "\e619";
}

.icon-guanzhu:before {
  content: "\e601";
}

.icon-weiguanzhu:before {
  content: "\e604";
}

.icon-dot:before {
  content: "\ec1e";
}

.iconshenhe:before {
  content: "\e69b";
}

.iconjinggao-mianxing:before {
  content: "\e666";
}

.iconkadaoqitixing:before {
  content: "\e688";
}

.iconyuqi:before {
  content: "\e6c1";
}

.iconwenjian:before {
  content: "\e64d";
}

.iconwofaqide:before {
  content: "\e614";
}

.icondaiban:before {
  content: "\e615";
}

.iconxinjian1:before {
  content: "\e6eb";
}

.iconhuishouzhan:before {
  content: "\e616";
}

.iconjichu:before {
  content: "\e617";
}

.iconyonghu-yuan:before {
  content: "\e623";
}

.iconmima:before {
  content: "\e613";
}

.iconfanhui:before {
  content: "\e8a4";
}

.iconliebiao5:before {
  content: "\e648";
}

.iconxiangqing:before {
  content: "\e64c";
}

.icon-clear:before {
  content: "\e621";
}

.icon-list:before {
  content: "\e6e4";
}

.icon-card:before {
  content: "\ec7e";
}

.icon-recover:before {
  content: "\e69a";
}

.icon-design:before {
  content: "\e643";
}

.icon-wx:before {
  content: "\e660";
}

.icon-yun:before {
  content: "\e61f";
}

.icon-ding:before {
  content: "\e8d6";
}

.iconweidu:before {
  content: "\e6ce";
}

.iconyidu:before {
  content: "\e6cf";
}

.icon-look:before {
  content: "\e600";
}

.icon-shs-default-photo:before {
  content: "\e62c";
}

.icon-flow-next:before {
  content: "\e6ea";
}

.icon-approve:before {
  content: "\eb67";
}

.icon-favorites:before {
  content: "\e610";
}

.icon-like:before {
  content: "\e6d4";
}

.icon-default-photo:before {
  content: "\e665";
}

.icon-calendar:before {
  content: "\e73b";
}

.icon-emil:before {
  content: "\e62b";
}

.icon-notice:before {
  content: "\e797";
}

.icon-toRight:before {
  content: "\e631";
}

.icon-toLeft:before {
  content: "\e632";
}

.icon-notice-search:before {
  content: "\e6bb";
}

.icon-popup-set:before {
  content: "\e646";
}

.icon-empty:before {
  content: "\e612";
}

.icon-recommend:before {
  content: "\e649";
}

.icon-recommend-already:before {
  content: "\e64a";
}

.icon-add:before {
  content: "\e62f";
}

.icon-status-confirm:before {
  content: "\e633";
}

.icon-status-reject:before {
  content: "\e624";
}

.icon-status-leave:before {
  content: "\e687";
}

.icon-status-read:before {
  content: "\e641";
}

.icon-status-noread:before {
  content: "\e642";
}

.icon-save:before {
  content: "\e6fe";
}

.icon-remove:before {
  content: "\e608";
}

.icon-cancel-audit:before {
  content: "\e64b";
}

.icon-edit:before {
  content: "\e620";
}

.icon-confirm-audit:before {
  content: "\e7e2";
}

.icon-side-cost:before {
  content: "\e73e";
}

.icon-side-curriculum:before {
  content: "\e60d";
}

.icon-popup-tomax:before {
  content: "\e606";
}

.icon-popup-tonormal:before {
  content: "\e607";
}

.icon-popup-close:before {
  content: "\e64e";
}

.icon-login-verification:before {
  content: "\e626";
}

.icon-login-password:before {
  content: "\e60f";
}

.icon-modular-default:before {
  content: "\e60b";
}

.icon-modular-Kanban:before {
  content: "\e654";
}

.icon-modular-system-settings:before {
  content: "\e63b";
}

.icon-modular-cpc:before {
  content: "\e62e";
}

.icon-modular-lu:before {
  content: "\e723";
}

.icon-modular-reportForm:before {
  content: "\e6c8";
}

.icon-side-move:before {
  content: "\e686";
}

.icon-side-personcenter:before {
  content: "\e752";
}

.icon-side-birthday:before {
  content: "\e672";
}

.icon-side-task:before {
  content: "\e68b";
}

.icon-side-exam:before {
  content: "\e6ab";
}

.icon-side-notice:before {
  content: "\e794";
}

.icon-side-organization:before {
  content: "\e60a";
}

.icon-side-news:before {
  content: "\e61b";
}

.icon-side-honor:before {
  content: "\e605";
}

.icon-side-protecting:before {
  content: "\e87a";
}

.icon-side-default:before {
  content: "\e91e";
}

.icon-side-comment:before {
  content: "\e68a";
}

.icon-side-activity:before {
  content: "\e870";
}

.icon-side-staffHome:before {
  content: "\e679";
}

.icon-side-life:before {
  content: "\e60e";
}

.icon-side-meeting:before {
  content: "\e75f";
}

.icon-side-vote:before {
  content: "\e61a";
}

.icon-side-home:before {
  content: "\e62d";
}

.icon-side-help:before {
  content: "\e661";
}

.icon-side-set:before {
  content: "\e60c";
}

.icon-side-import:before {
  content: "\e602";
}

.icon-side-development:before {
  content: "\e618";
}

.icon-side-law:before {
  content: "\e720";
}

.icon-side-notes:before {
  content: "\e61c";
}

.icon-up:before {
  content: "\e719";
}

.icon-left:before {
  content: "\e71a";
}

.icon-right:before {
  content: "\e71b";
}

.icon-down:before {
  content: "\e71c";
}

.icon-head-notice:before {
  content: "\e769";
}

.icon-head-apps:before {
  content: "\e603";
}

.icon-switch:before {
  content: "\e611";
}

